<div class="card">
  <div class="heading m-3">Subscriber's Information</div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="subscriberNIC" class="form-label labels">Subscriber NIC
          </label>
          <input type="text" formControlName="subscriberNIC" class="form-control int" id="subscriberNIC"
            placeholder="9999999999V" />
          <mat-error *ngIf="checkErrorUserForm('subscriberNIC', 'required') && submitted">
            Subscriber NIC is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="primaryPhone" class="form-label labels">Primary Phone
          </label>
          <input type="text" formControlName="primaryPhone" class="form-control int" id="primaryPhone"
            placeholder="Primary Phone" />
          <mat-error *ngIf="checkErrorUserForm('primaryPhone', 'required') && submitted">
            Primary Phone is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="secondaryPhone" class="form-label labels">Secondary Phone
          </label>
          <input type="text" formControlName="secondaryPhone" class="form-control int" id="Secondary Phone"
            placeholder="Secondary Phone" />
          <mat-error *ngIf="
              checkErrorUserForm('secondaryPhone', 'required') && submitted
            ">
            Secondary Phone is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="email" class="form-label labels">Email </label>
          <input type="text" formControlName="email" class="form-control int" id="email" placeholder="email" />
          <mat-error *ngIf="checkErrorUserForm('email', 'required') && submitted">
            email is Required
          </mat-error>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="firstName" class="form-label labels">First Name </label>
          <input type="text" formControlName="firstName" class="form-control int" id="firstName"
            placeholder="First Name" />
          <mat-error *ngIf="checkErrorUserForm('firstName', 'required') && submitted">
            First Name is Required
          </mat-error>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="lastName" class="form-label labels">Last Name </label>
          <input type="text" formControlName="lastName" class="form-control int" id="lastName"
            placeholder="Last Name" />
          <mat-error *ngIf="checkErrorUserForm('lastName', 'required') && submitted">
            Last Name is Required
          </mat-error>
        </div>
      </div>

     
      <!-- password -->
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="email" class="form-label labels">Password </label>
          <input type="text" formControlName="password" class="form-control int" id="email" placeholder="Password" minlength="6" min="6" />
          <mat-error *ngIf="checkErrorUserForm('password', 'required') && submitted">
            Password is Required 
          </mat-error>
          <mat-error *ngIf="checkErrorUserForm('password', 'minlength') && submitted">
            minimum 6 character
          </mat-error>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="email" class="form-label labels">Confirm Password </label>
          <input type="text" formControlName="cPassword" class="form-control int" id="email" placeholder="Password" minlength="6" min="6"/>
          <mat-error *ngIf="checkErrorUserForm('cPassword', 'required') && submitted">
            Conform Password is Required
          </mat-error>
          <mat-error *ngIf="userForm.errors?.mismatch && (userForm.controls['password'].dirty || userForm.controls['password'].touched) && submitted">
            Password must be same
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="ms-3 d-flex flex-column justify-content-center h-100">
          <div class="heading">CONNECTION TYPE</div>
          <div class="d-flex flex-wrap">
            <div class="form-check cus-form-check">
              <input class="form-check-input" type="radio" id="Normal" formControlName="type" value="Normal"
                name="type" />
              <label class="form-check-label para lbl" for="Normal">
                Normal
              </label>
            </div>

            <div class="form-check cus-form-check">
              <input class="form-check-input" type="radio" id="powerPass" formControlName="type" value="powerPass"
                name="type" />
              <label class="form-check-label para lbl" for="powerPass">
                power Pass
              </label>
            </div>

            <div class="form-check cus-form-check">
              <input class="form-check-input" type="radio" id="FreeLine" formControlName="type" value="FreeLine"
                name="type" />
              <label class="form-check-label para lbl" for="FreeLine">
                Free Line
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 d-flex justify-content-center">
            <div class="mb-3 cus-int-div">
              <label for="TV" class="form-label labels">TV </label>
              <input type="text" formControlName="TV" class="form-control int" id="TV" placeholder="TV count" />
              <mat-error *ngIf="checkErrorUserForm('TV', 'required') && submitted">
                TV is Required
              </mat-error>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 d-flex justify-content-center">
            <div class="mb-3 cus-int-div">
              <label for="OldID" class="form-label labels">Old ID</label>
              <input matInput type="text" class="form-control int" id="OldID" formControlName="OldID"
                placeholder="first Name" />
              <mat-error *ngIf="checkErrorUserForm('OldID', 'required') && submitted">
                Old ID is Required
              </mat-error>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center">
       
        <div class="mb-3 cus-int-div">
          <label for="ConnectionAddress" class="form-label labels">Connection Address
          </label>
          <input type="text" formControlName="ConnectionAddress" class="form-control int" id="ConnectionAddress"
            placeholder="Address" />
          <mat-error *ngIf="
              checkErrorUserForm('ConnectionAddress', 'required') && submitted
            ">
            Connection Address is Required
          </mat-error>
        </div>
        <div class="mb-3 cus-int-div">
          <label for="Technician" class="form-label labels">Branch </label>
          <select class="form-select" aria-label="Default select example" (change)="onSelectBranch(val3.value)" required
            #val3>
            <option disabled selected value="null">Branch</option>
            <option *ngFor="let item of BranchArray" [value]="item.id">
              {{ item.branchName }}
            </option>
          </select>
          <mat-error *ngIf="(branchId == '' || branchId == undefined) && submitted">
            Branch is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <!-- <label for="Area" class="form-label labels">Area </label> -->

        <!-- <select class="form-select" aria-label="Default select example" (change)='onSelectarea(val.value)' required #val>
                <option disabled selected value="null">Area</option>
                <option *ngFor="let item of areaArray" [value]="item.area">
                    {{ item.area }}
                </option>
            </select> -->
        <div class="mb-3 cus-int-div">
          <label for="Area" class="form-label labels">Area </label>
          <select class="form-select" aria-label="Default select example" (change)="onSelectarea(val1.value)" required
            #val1>
            <option disabled selected value="null">Area</option>
            <option *ngFor="let item of areaArray" [value]="item.id">
              {{ item.area }}
            </option>
          </select>
          <mat-error *ngIf="(areaId == '' || areaId == undefined) && submitted">
            Area is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="Road" class="form-label labels">Road </label>
          <select class="form-select" aria-label="Default select example" (change)="onSelect(val2.value)" required #val2>
            <option disabled selected value="null">Road</option>
            <option *ngFor="let item of roadArray" [value]="item.id">
              {{ item.road }}
            </option>
          </select>
          <mat-error *ngIf="(roadId == '' || roadId == undefined) && submitted">
            Road is Required
          </mat-error>
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="Technician" class="form-label labels">Technician </label>
          <select class="form-select" aria-label="Default select example" (change)="onSelectTechnician(val4.value)"
            required #val4>
            <option disabled selected value="null">Technician</option>
            <option *ngFor="let item of technicianArray" [value]="item.id">
              {{ item.firstName }}
            </option>
          </select>
          <mat-error *ngIf="
              (technicianId == '' || technicianId == undefined) && submitted
            ">
            Technician is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="ConnectionDate" class="form-label labels">Connection Date
          </label>
          <input type="date" formControlName="ConnectionDate" class="form-control int" id="ConnectionDate"
            placeholder="Connection Date" />
          <mat-error *ngIf="
              checkErrorUserForm('ConnectionDate', 'required') && submitted
            ">
            Connection Date is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="Arrears" class="form-label labels">Arrears </label>
          <input type="text" formControlName="Arrears" class="form-control int" id="Arrears" placeholder="Amount" />
          <mat-error *ngIf="checkErrorUserForm('Arrears', 'required') && submitted">
            Arrears is Required
          </mat-error>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
        <div class="mb-3 cus-int-div">
          <label for="ConnectionFee" class="form-label labels">Connection Fee
          </label>
          <input type="text" formControlName="ConnectionFee" class="form-control int" id="ConnectionFee"
            placeholder="Amount" />
          <mat-error *ngIf="checkErrorUserForm('ConnectionFee', 'required') && submitted">
            Connection Fee is Required
          </mat-error>
        </div>
      </div>
    </div>
    <!-- <button mat-raised-button color="primary" [disabled]="!userForm.valid" type="submit">
        Submit
    </button> -->
    <div
      class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap btn-div-set">
      <button class="input-group-text cus-btn-down btn-c-2" (click)="addEventClick()">
        Add New Subscriber
      </button>
    </div>
  </form>
</div>