<div class="row">
  <div class="container-1">
    <p class="font-weight-bold mt-2">Daily</p>
    <div>
      <form [formGroup]="submitForm">
        <div class="mb-3 cus-int-div">
          <input
            type="date"
            class="form-control int"
            required
            placeholder="From"
            formControlName="fromdate"
            style="
              font: normal normal normal 13px/21px Poppins;
              letter-spacing: 0px;
              color: #707070;
              opacity: 1;
            "
            useValueAsDate
            max="{{maxDate}}"
          />
        </div>
      </form>
    </div>
  </div>
  <div
    *ngFor="let it of sdata; let i = index"
    class="col-6 col-sm-6 col-md-4 col-xl-3 mt-2"
  >
    <app-card-template
      title="{{ it.name }}"
      color="{{ it.color }}"
      number="{{ it.number }}"
      [img]="it.img"
    ></app-card-template>
  </div>
</div>

<div class="row">
  <div class="container-1">
    <p class="font-weight-bold mt-4">Monthly</p>
  </div>
  <div
    *ngFor="let it of mData; let i = index"
    class="col-6 col-sm-6 col-md-4 col-xl-3 mt-2"
  >
    <app-card-template
      title="{{ it.name }}"
      color="{{ it.color }}"
      number="{{ it.number }}"
      [img]="it.img"
    ></app-card-template>
  </div>
</div>

<br />
<br />
<div class="container-7">
  <div class="card-2">
    <div class="card-text-2">Annual Report</div>
    <canvas id="linechart"></canvas>
  </div>
  <div class="card-3">
    <div class="card-text-2">Today Collection Report</div>
    <div
      class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl"
    >
      <table class="table mt-2">
        <tbody>
          <tr>
            <td>SANOJAN</td>
            <td>0 Bills</td>
            <td>55200.00</td>
          </tr>
          <tr>
            <td>PRASANTH</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
          <tr>
            <td>ARULAN</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
          <tr>
            <td>MURALI</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
          <tr>
            <td>NIRUSHAN</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
          <tr>
            <td>KARTHEESAN</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
          <tr>
            <td>KARTHEESAN</td>
            <td>80 Bills</td>
            <td>44345.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
