<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Update Branch</div>
    <p class="para">{{ ifData ? currentData.userID : "" }}</p>
    <div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-3">
          <div class="para mt-3 ps-3">Branch</div>
          <input
            type="text"
            class="form-control int"
            id="branchName"
            placeholder="Branch"
            formControlName="branchName"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-3">
          <div class="para mt-3 ps-3">Address</div>
          <input
            type="text"
            class="form-control int"
            id="branchAddress"
            placeholder="Address"
            formControlName="branchAddress"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 mt-3">
          <div class="para mt-3 ps-3">City</div>
          <input
            type="text"
            class="form-control int"
            id="branchCity"
            placeholder="City"
            formControlName="branchCity"
          />
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="para mt-3 ps-3">Phone</div>
          <input
            type="text"
            class="form-control int"
            id="branchPhone"
            placeholder="Phone"
            formControlName="branchPhone"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <button
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="onNoClick()"
            style="
              background-color: #fff !important;
              color: #027afe !important;
              border: none !important;
            "
          >
            Cancel
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <button
            *ngIf="!loading"
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Submit
          </button>
          <button
            *ngIf="loading"
            class="opacity-75 disabled input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Loading ...
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="row">
            <div class="col-6">
                <div>
                    <select class="form-select" aria-label="Default select example" (change)='onSelect(val.value)' required
                        #val>
                        <option disabled selected value="null">Technician</option>
                        <option *ngFor="let item of TechnicianArray" [value]="item.area">
                            {{ item.firstName }}
                        </option>
                    </select>
                    <div class="para mt-3 ps-3">Disconnected Date </div>
                    <input type="date" class="form-control int" id="ID" placeholder="12-12-2022" formControlName="disconnectedDate" />
        
                    <div class="para mt-3 ps-3">Reconnection Fee </div>
        
                    <input type="text" class="form-control int" type="number" required id="ID" placeholder="Amount"
                        formControlName="reconnectionFee" />
                    <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()">
                        Create
                    </button>
                    <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" (click)="onNoClick()"
                        style="background-color: #fff !important; color: #027afe">
                        Cancel
                    </button>
        
                </div>
            </div>
            <div class="col-6">
                <div>
                    <select class="form-select" aria-label="Default select example" (change)='onSelect(val.value)' required
                        #val>
                        <option disabled selected value="null">Technician</option>
                        <option *ngFor="let item of TechnicianArray" [value]="item.area">
                            {{ item.firstName }}
                        </option>
                    </select>
                    <div class="para mt-3 ps-3">Disconnected Date </div>
                    <input type="date" class="form-control int" id="ID" placeholder="12-12-2022" formControlName="disconnectedDate" />
        
                    <div class="para mt-3 ps-3">Reconnection Fee </div>
        
                    <input type="text" class="form-control int" type="number" required id="ID" placeholder="Amount"
                        formControlName="reconnectionFee" />
                    <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()">
                        Create
                    </button>
                    <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" (click)="onNoClick()"
                        style="background-color: #fff !important; color: #027afe">
                        Cancel
                    </button>
        
                </div>
            </div>
        </div> -->
  </div>
</form>
