<div
  class="d-flex justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto"
>
  <!-- class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto" -->

  <div class="input-div col-12 col-md-4">
    <input
      type="text"
      (keyup)="applyFilter($event)"
      class="form-control int mt-2"
      id="ID"
      placeholder="Search"
      formControlName="address"
    />
  </div>
  <div class="mb-3 col-12 col-md-4"></div>
  <div class="col-5 col-md-4">
    <div class="btn-set d-flex m-1">
      <button
        class="input-group-text cus-btn-down btn-c-1"
        id="basic-addon2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="exportNormalTable()"
      >
        Excel
      </button>
      <button
        class="input-group-text cus-btn-down btn-c-2"
        id="basic-addon2"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        (click)="openPDF()"
      >
        PDF
      </button>
      <!-- <button class="input-group-text cus-btn-down btn-c-3" id="basic-addon2" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      Print
    </button> -->
    </div>
  </div>
</div>
<br />
<br />
<div *ngIf="TICKET_DATA.length != 0">
  <div *ngIf="showTable" class="table-responsive">
    <div id="htmlData">
      <table
        mat-table
        [dataSource]="dataSource"
        id="ExampleNormalTable"
        matSort
        (matSortChange)="announceSortChange($event)"
        class=""
      >

        <!-- connectionID Column -->
        <ng-container matColumnDef="connectionID">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by connectionID"
          >
            ID
          </th>
          <td mat-cell *matCellDef="let element"  (click)="viewDetails(element)">
            <a style="color: #027AFE; cursor: pointer;">{{ element.connectionID }}</a>
          </td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by firstName"
          >
            Subscriber
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.firstName }}
          </td>
        </ng-container>

        <!-- primaryPhone Column -->
        <ng-container matColumnDef="primaryPhone">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionprimaryPhone="Sort by primaryPhone"
          >
            Phone
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.primaryPhone }}
          </td>
        </ng-container>

        <!-- connectionAddress Column -->
        <ng-container matColumnDef="connectionAddress">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by connectionAddress"
          >
            Address
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.connectionAddress }}
          </td>
        </ng-container>

        <!-- connectionStatus Column -->
        <ng-container matColumnDef="connectionStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by connectionStatus"
          >
            Status
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngStyle]="{color: element.connectionStatus == 'Active' ? '#31AB25' : '#B50A00'}"
          >
            {{ element.connectionStatus }}
          </td>
        </ng-container>
        <!-- class="{{ element.connectionStatus.toUpperCase() }}" -->
        <!-- connectedDate Column -->
        <ng-container matColumnDef="connectedDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by connectedDate"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.connectedDate | date : "yyyy-M-d hh:mm" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <div class="editData">
    <!--  [object]='subscriberdata'  text="text" -->
    <!-- <app-pending-details   [object]='subscriberdata'  text="text"  ></app-pending-details> -->
  </div>
</div>

<p class="head-2 p-5" *ngIf="TICKET_DATA.length == 0 && ifGetData">
  No Data found
</p>
