<form [formGroup]="chackRequest" (ngSubmit)="assignYTicket()">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Assign Ticket</div>
    <div class="">
      <div class="user mt-4">
        <select
          class="form-select"
          aria-label="Default select example"
          required
          [(ngModel)]="selectedDeviceObj"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onChangeObj(selectedDeviceObj)"
          [ngClass]="{ 'is-invalid': submitted && TechnicianName }"
        >
          <option *ngFor="let item of TechnicianArray" [ngValue]="item">
            {{ item.firstName }}
          </option>
        </select>

        <div *ngIf="submitted && f['tech'].errors" class="invalid-feedback">
          <div *ngIf="f['tech'].errors['required']">Select the technician</div>
        </div>
      </div>
      <button
        *ngIf="!loading"
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
      >
        Update
      </button>
      <button
        *ngIf="loading"
        disabled
        class="opacity-75 input-group-text cus-btn-down cus-model-btn-down btn-c-1"
      >
        Update ...
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
