.card{
  border: none;
}
.input-div {
  width: 220px;
}
.int {
  height: 40px;
  border: none;
  outline: none;
  width: 120%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 30px;
  color: #707070;
  padding: 0px 0px 0px 20px;
}
.cus-btn-down {
  // max-width: 100px;
  // padding: 4px 16px;
  height: 40px;
  width: 50%;
  color: #fff;
  border-radius: 90px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 0rem 1rem;
}
.btn-c-1 {
  background: #31AB25 !important;
  border: 0px solid #31AB25;
}
.btn-c-2 {
  background: #B50A00 !important;
  border: 0px solid #B50A00;
}
.btn-c-3 {
  background: #6468e7 !important;
  border: 0px solid #6468e7;
}
.container-6 {
  display: flex;
  flex-direction: column;
}

.mat-table {
  background-color: #fff;
  box-shadow: none;
  overflow: auto;
  max-height: 500px;
  width: 100%;
}
.mat-header-cell {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border: 0px;
}
.mat-cell {
  text-align: left;
  font: normal normal normal 12px/22px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding: 0px 138px 0px 0;
}
.mat-cell {
  border: 0px;
}
.mat-row {
  border: 0px;
}
.mat-header-row {
  border: 0px;
}
.mat-cell:last-of-type,
.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
.mat-header-cell:last-of-type{
  padding-left: 0px;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 90px; 
  border-bottom-left-radius: 90px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 90px; 
  border-top-right-radius: 90px; 
}
.mat-row:nth-child(odd) {
  background: #f8f8f8;
}
::ng-deep .mat-sort-header-arrow {
  color: #027afe;
  transform: none !important;
  opacity: 1 !important;
}
.status {
  border-radius: 24px;
  background-color: #B50A00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  min-width: 60px;
  // margin: 0 auto;
}
@media(max-width: 767px){
  .btn-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 30px;
  }
  .cus-btn-down{
    width: 18%;
  }
}
@media(max-width: 500px){
  .btn-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 30px;
  }
  .cus-btn-down{
    width: 25%;
  }
}
@media(max-width: 380px){
  .btn-set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 20px;
  }
  .cus-btn-down{
    width: 30%;
  }
}
