<form class="register-form" >
  <h1 class="form-heading mb-4">Login</h1>
  <!-- <br /> -->
  <div class="mb-2">
    <input
      placeholder="Enter username or email"
      type="email"
      class="input-core"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <!-- <br /> -->

  <div class="mb-3">
    <input
      type="password"
      class="input-core"
      id="exampleInputPassword1"
      placeholder="Enter password"
    />
  </div>
  <!-- <br /> -->
  <div class="mb-3">
    <button type="submit" class="btn btn-primary form-btn" (click)="login()">
      Login
    </button>
  </div>
</form>
