.input-div {
  width: 220px;
}
.int {
  height: 40px;
  border: none;
  outline: none;
  width: 120%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 30px;
  color: #707070;
  padding: 0px 0px 0px 20px;
}
.cdk-keyboard-focused{
  display: none !important;
}
.cus-btn-down {
  // max-width: 100px;
  // padding: 4px 16px;
  height: 40px;
  width: 50%;
  color: #fff;
  border-radius: 90px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 0rem 1rem;
}
.btn-c-1 {
  background: #74bc78 !important;
  border: 0px solid #74bc78;
}
.btn-c-2 {
  background: #d63964 !important;
  border: 0px solid #d63964;
}
.btn-c-3 {
  background: #6468e7 !important;
  border: 0px solid #6468e7;
}

// table
// th.mat-header-cell{
//   font-size: 14px;
//   font-weight: 600;
//   color: #000;
// }
// th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
//    border-bottom-width: 0px !important;
//   border-bottom-style: none;

//   cursor: pointer;

// }
// td{
//   color: #707070 !important;
// }

// .main-div {
//   background-color: #fff;
//   // margin-top: 2rem;
//   border-radius: 24px;
//   // margin:1rem 4rem 0rem 4rem;
// }
// @media only screen and (max-width:900px) {
//   .main-div {
//     margin: auto !important;
//   }
// }
// .img {
//   width: 100%;
//   max-width: 32px;
//   border-radius: 4px;
// }
// .main-heading {
//   font-weight: 700 !important;
//   font-size: 26px !important;
//   padding: 2rem 0px 0px 2rem;
// }
// .table-div {
//   padding: 1rem;
// }
// table {
//   border-collapse: collapse;
//   width: 100%;
//   padding: 10px;
// }

// th,
// td {
//   text-align: left;
//   padding: 8px;
// }
// th {
//   font-weight: 600;
// }
// td {
//   font-weight: 400;
//   color: #000;
// }
// tr:nth-child(even) {
//   background-color: #99999917;
//   // opacity: 9%;
// }
.container-6 {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  background-color: #fff;
  box-shadow: none;
  overflow: auto;
  max-height: 500px;
  width: 100%;
}
.mat-header-cell {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border: 0px;
}
.mat-cell {
  text-align: left;
  font: normal normal normal 12px/22px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  // padding: 0px 108px 0px 0;
}
.mat-cell {
  border: 0px;
}
.mat-row {
  border: 0px;
}
.mat-header-row {
  border: 0px;
}
.mat-cell:last-of-type,
.mat-header-cell:last-of-type,
.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 90px; 
  border-bottom-left-radius: 90px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 90px; 
  border-top-right-radius: 90px; 
}
.mat-row:nth-child(odd) {
  background: #f8f8f8;
}
::ng-deep .mat-sort-header-arrow {
  color: #027afe;
  transform: none !important;
  opacity: 1 !important;
}
.status {
  border-radius: 24px;
  background-color: #d63964;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  min-width: 60px;
  // margin: 0 auto;
}
