<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <form
          class="register-form"
          [formGroup]="forgotForm"
          (ngSubmit)="forgotpassword()"
        >
          <img
            src="../../assets/icons/logo1.png"
            class="fa fa-minus"
            aria-hidden="true"
          />
          <br />
          <br />
          <h1 class="form-heading mb-4">Forgot Password</h1>
          <br />
          <div class="mb-3 int-main-div">
            <input
              placeholder="Your Phone Number"
              type="number"
              class="input-core"
              id="phone"
              aria-describedby="phone"
              formControlName="phone"
              required
              [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
              />
              <div
                *ngIf="submitted && f['phone'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['phone'].errors['required']">
                  Fill The Field
                </div>
              </div>
          </div>
          <br />
          <div class="mb-3">
            <button type="submit" class="btn btn-primary form-btn">
              Submit
            </button>
            <br>
          </div>
        </form>
      </div>
      <div class="container col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img
          src="../../assets/login.png"
          alt="Login image"
          class="img-fluid"
          style="object-fit: cover;"
        />
      </div>
    </div>
  </div>
</section>
