.mat-dialog-container {
  padding: 10px;
  max-width: 500px;
}

.cdk-overlay-pane {
  width: 500px !important;
}
.cus-form-check {
  margin: 0px 6px 10px 1px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.int {
  padding-left: 20px;
  height: 50px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #707070;
}

.cus-model-btn-down {
  color: #fff !important;
  border-radius: 10px;
  max-width: 220px;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1rem 0rem 0rem 0rem;
  background-color: #027afe !important;
  height: 50px;
}
.lbl {
  padding-left: 12px;
}
.btn-cancel {
  margin-top: 8px;
  font-size: 12px !important;
}
.form-select:focus{
  border: 1px solid #707070;
}
.form-select{
  cursor: pointer;
}