<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">
      {{ ifData ? "Edit User" : "Add User" }}
    </div>
    <p class="para">{{ ifData ? currentData.userID : "" }}</p>
    <div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 mt-3">
          <!-- <div class="para mt-3 ps-3">First Name</div> -->
          <input
            type="text"
            class="form-control int"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <!-- <div class="para mt-3 ps-3">Last Name</div> -->
          <input
            type="text"
            class="form-control int"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 mt-3">
          <!-- <div class="para mt-3 ps-3">
            Email
          </div> -->
          <input
            type="email"
            class="form-control int"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <!-- <div class="para mt-3 ps-3">Phone Number</div> -->
          <input
            type="text"
            class="form-control int"
            id="primaryPhone"
            placeholder="Phone Number"
            formControlName="primaryPhone"
          />
        </div>
      </div>
      <div class="row mt-2" *ngIf="!ifData">
        <div class="col-12 col-sm-6 mt-3">
          <!-- <div class="para mt-3 ps-3">Password</div> -->
          <input
            type="password"
            class="form-control int"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="col-12 col-sm-6 mt-3" *ngIf="!ifData">
          <!-- <div class="para mt-3 ps-3">Confirm Pawwsord</div> -->
          <input
            type="password"
            class="form-control int"
            id="password"
            placeholder="Confirm Password"
            formControlName="cpassword"
          />
        </div>
      </div>
      <div class="row mt-2">
        <!-- <div class="col-12 col-sm-6">
          <div class="para mt-3 ps-3"></div>

          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onSelectarea(val.value)"
            required
            #val
            formControlName="branch"
            id="parentesco"
          >
            <option disabled selected value="null">Branch</option>
            <option *ngFor="let item of branchArray" [value]="item.id">
              {{ item.branchName }}
            </option>
          </select>
        </div> -->
        <div class="col-sm-3"></div>
        <div class="col-12 col-sm-6">
          <div class="para mt-3 ps-3"></div>
          <select
            class="form-select mt-2"
            aria-label="Default select example"
            (change)="onSelect(val.value)"
            required
            #val
            formControlName="role"
          >
            <option disabled selected value="null">Role</option>
            <option *ngFor="let item of roleArray" [value]="item.id">
              {{ item.role }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <button
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="onNoClick()"
            style="
              background-color: #fff !important;
              color: #027afe !important;
              border: none !important;
            "
          >
            Cancel
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <button
            *ngIf="!loading"
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Submit
          </button>
          <button
            *ngIf="loading"
            class="opacity-75 disabled input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Loading ...
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
