<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">
      {{ ifData ? "Edit User" : "Add User" }}
    </div>
    <p class="para">{{ ifData ? currentData.userID : "" }}</p>
    <div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 mt-3">
          <input
            type="text"
            class="form-control int"
            placeholder="First Name"
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
          />
          <div
            *ngIf="submitted && f['firstName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['firstName'].errors['required']">Fill The Field</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <input
            type="text"
            class="form-control int"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
          />
          <div
            *ngIf="submitted && f['lastName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['lastName'].errors['required']">Fill The Field</div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6 mt-3">
          <input
            type="email"
            class="form-control int"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="col-12 col-sm-6 mt-3">
          <input
            type="text"
            class="form-control int"
            placeholder="Phone Number"
            formControlName="primaryPhone"
            [ngClass]="{ 'is-invalid': submitted && f['primaryPhone'].errors }"
          />
          <div
            *ngIf="submitted && f['primaryPhone'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['primaryPhone'].errors['required']">
              Fill The Field
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <div class="para mt-3 ps-3"></div>

          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onSelectarea(val.value)"
            required
            #val
            formControlName="branch"
            id="parentesco"
            [ngClass]="{ 'is-invalid': submitted && f['branch'].errors }"
          >
            <option disabled selected value="null">Branch</option>
            <option *ngFor="let item of branchArray" [value]="item.id">
              {{ item.branchName }}
            </option>
          </select>
          <div *ngIf="submitted && f['branch'].errors" class="invalid-feedback">
            <div *ngIf="f['branch'].errors['required']">Select the branch</div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="para mt-3 ps-3"></div>
          <div class="form-group">
            <select
              class="form-select mt-2"
              aria-label="Default select example"
              (change)="onSelect(val.value)"
              required
              #val
              formControlName="role"
              [ngClass]="{ 'is-invalid': submitted && f['role'].errors }"
            >
              <option disabled selected value="null">Role</option>
              <option *ngFor="let item of roleArray" [value]="item.id">
                {{ item.role }}
              </option>
            </select>
            <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
              <div *ngIf="f['role'].errors['required']">Select the role</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2" *ngIf="!ifData">
        <div class="col-12 col-sm-6 mt-3">
          <input
            type="password"
            class="form-control int"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">Fill The Field</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-3" *ngIf="!ifData">
          <input
            type="password"
            class="form-control int"
            placeholder="Confirm Password"
            formControlName="cpassword"
            [ngClass]="{ 'is-invalid': submitted && f['cpassword'].errors }"
          />
          <div
            *ngIf="submitted && f['cpassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['cpassword'].errors['required']">Fill The Field</div>
            <div *ngIf="f['cpassword'].errors['matching']">
              Confirm Password does not match
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2" *ngIf="ifData">
        <div class="col-sm-4"></div>
        <div class="col-12 col-sm-6 mt-3">
          <div class="form-check form-switch col-sm-6">
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Status</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault"
              formControlName="status"
            />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <button
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="onNoClick()"
            style="
              background-color: #fff !important;
              color: #027afe !important;
              border: none !important;
            "
          >
            Cancel
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <button
            *ngIf="!loading"
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Submit
          </button>
          <button
            *ngIf="loading"
            class="opacity-75 disabled input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Loading ...
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
