<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Reconnect</div>
    <div>
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onSelect(val.value)"
        required
        #val
        formControlName="tech"
        [ngClass]="{ 'is-invalid': submitted && f['tech'].errors }"
      >
        <option disabled selected value="null">Technician</option>
        <option *ngFor="let item of TechnicianArray" [value]="item.id">
          {{ item.firstName }}
        </option>
      </select>
      <div *ngIf="submitted && f['tech'].errors" class="invalid-feedback">
        <div *ngIf="f['tech'].errors['required']">Select the Technician</div>
      </div>
      <input
        type="date"
        class="form-control int"
        required
        placeholder="Disconnected Date"
        formControlName="disconnectedDate"
        style="
          font: normal normal normal 13px/21px Poppins;
          letter-spacing: 0px;
          color: #707070;
          opacity: 1;
        "
        useValueAsDate
        [ngClass]="{ 'is-invalid': submitted && f['disconnectedDate'].errors }"
      />
      <div
        *ngIf="submitted && f['disconnectedDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['disconnectedDate'].errors['required']">
          Fill The Field
        </div>
      </div>

      <input
        type="text"
        class="form-control int"
        type="text"
        required
        id="ID"
        placeholder="Reconnect Fee"
        formControlName="reconnectionFee"
        [ngClass]="{ 'is-invalid': submitted && f['reconnectionFee'].errors }"
      />
      <div
        *ngIf="submitted && f['reconnectionFee'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['reconnectionFee'].errors['required']">
          Fill The Field
        </div>
      </div>
      <button
        *ngIf="!loading"
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
        (click)="ReconnectionRequest()"
      >
        Update
      </button>
      <button
        *ngIf="loading"
        class="opacity-75 input-group-text cus-btn-down cus-model-btn-down btn-c-1"
        (click)="ReconnectionRequest()"
      >
        Loading ...
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
