<div class="d-flex justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto">
  <!-- class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto" -->

  <div class="input-div">
    <input type="text" (keyup)="applyFilter($event)" class="form-control int mt-2" id="ID" placeholder="Search"
      formControlName="address" />
  </div>
  <div class="btn-set d-flex m-1">
    <button class="input-group-text cus-btn-down btn-c-1" id="basic-addon2" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop" (click)="exportNormalTable()">
      Excel
    </button>
    <button class="input-group-text cus-btn-down btn-c-2" id="basic-addon2" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop" (click)="openPDF()">
      PDF
    </button>
    <button class="input-group-text cus-btn-down btn-c-3" id="basic-addon2" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      Print
    </button>
  </div>
</div>
<br />
<br />
<div   *ngIf="showTable">

<div id="htmlData">

  <table mat-table [dataSource]="dataSource" id="ExampleNormalTable" matSort
    (matSortChange)="announceSortChange($event)" class="">
    <td mat-cell *matCellDef="let row" (click)="viewDetails(row)"  >
      <!-- <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox> -->
    </td>

    <!-- ticketID Column -->
    <ng-container matColumnDef="ticketID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ticketID">
        Ticket
      </th>
      <td mat-cell *matCellDef="let element" (click)="viewDetails(element)" > {{element.ticketID}} </td>
    </ng-container>

    <!-- connectionID Column -->
    <ng-container matColumnDef="connectionID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by connectionID">
        ID
      </th>
      <td mat-cell *matCellDef="let element"  (click)="viewDetails(element)" > {{element.connectionID}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
        SUBJECT
      </th>
      <td mat-cell *matCellDef="let element"  (click)="viewDetails(element)" > {{element.description}} </td>
    </ng-container>

    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
        PHONE
      </th>
      <td mat-cell *matCellDef="let element"  (click)="viewDetails(element)" > {{element.phone}} </td>
    </ng-container>

    <!-- createdBy Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdBy">
        Created By
      </th>
      <td mat-cell *matCellDef="let element" (click)="viewDetails(element)" > {{element.createdBy}} </td>
    </ng-container>

    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdAt">
        Created At
      </th>
      <td mat-cell *matCellDef="let element"  (click)="viewDetails(element)" > {{element.createdAt | date:'yyyy-M-d hh:mm'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr> -->

  </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<div class="editData"  *ngIf="!showTable">
  <!--  [object]='subscriberdata'  text="text" -->
  <app-assign-details   [object]='subscriberdata'  text="text"   (backTo)="detailhide()"  ></app-assign-details>
</div>