<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <form
          class="register-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <img
            src="../../assets/icons/logo1.png"
            class="fa fa-minus"
            aria-hidden="true"
          />
          <br />
          <br />
          <h1 class="form-heading mb-4">Login in to dashboard</h1>
          <br />
          <div class="mb-3 int-main-div">
            <input
              placeholder="Phone Number"
              type="email"
              class="input-core"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
              required
            />
          </div>
          <div class="mb-3 int-main-div">
            <input
              type="password"
              class="input-core"
              id="exampleInputPassword"
              placeholder="Password"
              formControlName="password"
              required
            />
          </div>
          <br />
          <div class="mb-3">
            <button type="submit" class="btn btn-primary form-btn">
              Login
            </button>
            <br />
            <div class="container-3 mt-4">
              <a routerLink="/forgotpassword" class="link-primary"
                >Forgot Password</a
              >
            </div>
          </div>
        </form>
      </div>
      <div class="container col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img
          src="../../assets/login.png"
          alt="Login image"
          class="img-fluid"
          style="object-fit: cover"
        />
      </div>
    </div>
  </div>
</section>
