.row {
  overflow: hidden;
}
.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.input-core {
  max-width: 400px;
  min-width: 270px;
  padding-left: 20px;
  height: 50px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #707070;
}

.form-heading {
  color: #11193c;
  font-weight: 500;
}

.form-btn {
  background-color: var(--mainText);
  height: 40px;
  color: #fff;
  width: 120px;
  background: var(--unnamed-color-027afe) 0% 0% no-repeat padding-box;
  background: #027afe 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 33px #00000014;
  border-radius: 10px;
  font-size: 12px;
}

.int-main-div {
  max-width: 420px;
  width: 100%;
}
// .px-0 {
//   background-color: #469dfe;
// }
// .img-fluid {
//   top: 0%;
//   height: 100%;
//   width: 97%;
// }
// @media (max-width: 768px) {
//   .px-0 {
//     margin-top: 100%;
//   }
//   .img-fluid {
//     margin-top: 50%;
//     height: 20%;
//   }
// }
