<form class="register-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1 class="form-heading mb-4">Login</h1>
  <!-- <br /> -->
  <div class="mb-2">
    <input
      placeholder="Enter username or email"
      type="email"
      class="input-core"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
  </div>
  <!-- <br /> -->

  <div class="mb-3">
    <input
      type="password"
      class="input-core"
      id="exampleInputPassword1"
      placeholder="Enter password"
      formControlName="password"
    />
  </div>
  <!-- <br /> -->
  <div class="mb-3" *ngIf="!loading">
    <button type="submit" class="btn btn-primary form-btn">Login</button>
  </div>
  <div class="mb-3" *ngIf="loading">
    <button type="submit" class="btn btn-primary form-btn" disabled>
      Loading..
    </button>
  </div>
</form>
