<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Make Payment</div>
    <!-- <p class="para">{{data.id}}</p> -->
    <div class="mt-4">
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onSelect(val.value)"
        required
        #val
      >
        <option disabled selected value="null">Payment Type</option>
        <option *ngFor="let item of PaymentArray" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <!-- <div class="para mt-3 ps-3">House Number </div> -->
      <div class="col-12">
        <div class="para mt-4 ps-3">Amount</div>
        <input
          type="text"
          class="form-control int"
          id="ID"
          placeholder="Amount"
          formControlName="amount"
        />
      </div>
      <textarea
        type="text"
        class="form-control ints mt-4"
        type="number"
        required
        id="ID"
        placeholder="Description"
        formControlName="description"
      ></textarea>

      <button
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
        (click)="ReconnectionRequest()"
      >
        Create
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
