<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Make Payment</div>
    <div class="mt-4">
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="onSelect(val.value)"
        required
        #val
        formControlName="payment"
        [ngClass]="{ 'is-invalid': submitted && f['payment'].errors }"
      >
        <option disabled selected value="null">Payment Type</option>
        <option *ngFor="let item of PaymentArray" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <div *ngIf="submitted && f['payment'].errors" class="invalid-feedback">
        <div *ngIf="f['payment'].errors['required']">Select the type</div>
      </div>
      <div class="col-12">
        <input
          type="number"
          class="form-control int mt-4"
          id="ID"
          placeholder="Amount"
          formControlName="amount"
          [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
        />
        <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
          <div *ngIf="f['amount'].errors['required']">Fill The Field</div>
        </div>
      </div>
      <textarea
        type="text"
        class="form-control ints mt-4"
        type="number"
        required
        id="ID"
        placeholder="Description"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
      ></textarea>
      <div
        *ngIf="submitted && f['description'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['description'].errors['required']">Fill The Field</div>
      </div>

      <button
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1 mt-4"
        (click)="ReconnectionRequest()"
      >
        Create
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
