<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Assign Request</div>
    <div class="user mt-4">
      <select
        class="form-select mt-2"
        aria-label="Default select example"
        required
        [(ngModel)]="selectedDeviceObj"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onChangeObj(selectedDeviceObj)"
        [ngClass]="{ 'is-invalid': submitted && TechnicianName }"
      >
        <option *ngFor="let item of TechnicianArray" [ngValue]="item">
          {{ item.firstName }}
        </option>
      </select>
      <div *ngIf="submitted && f['tech'].errors" class="invalid-feedback">
        <div *ngIf="f['tech'].errors['required']">Select the technician</div>
      </div>
      <button
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1 mt-4"
        (click)="ReconnectionRequest()"
      >
        Update
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
