<form [formGroup]="Reconnection" (ngSubmit)="ReconnectionRequest()">
  <div class=" cus-model-c-div">
    <div class="form-heading int-div card-head-h2">
      Reconnection Request
    </div>
    <p class="para">PKA00001</p>
    <div class="">
      <input type="text" class="form-control int mt-2" type="number" required id="ID" placeholder="Phone Number"
        formControlName="phoneNumber" />
      <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()"
       >
        Create
      </button>
      <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" 
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe">
        Cancel
      </button>

    </div>
  </div>
</form>