.main-div {
  background-color: #fff;
  // margin-top: 2rem;
  border-radius: 24px;
  // margin: 3rem;
  max-width: 600px;
  width: 100%;
}
@media only screen and(max-width:900px) {
    .main-div{
        margin: auto !important;
    }
  }
.main-heading {
  font-weight: 700 !important;
  padding: 2rem 0px 0px 2rem;
  font-size: 26px;
}
.main-input-div {
    padding: 2rem 2rem;
    font-size: 26px;
}
.main-input {
    padding: 1rem 1rem;
    font-size: 26px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 24px;
  outline: none;
  width: 100%;
  font-size: 16px;
  height: 250px;
}

.form-btn {
    background-color: var(--main);
    height: 40px;
    max-width: 220px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    width: 100%;    
    font-weight: 400 !important;
    font-size: 18px;
  }
  
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}