<p class="heading">Choose searching type and enter the value</p>
<br />
<app-filter-box 
(OnClick)="searching($event)"
  ></app-filter-box>
<!-- <app-custom-button text="'000000000'" btnClass="btn" (OnClick)="test()" ></app-custom-button> -->

<br />
<br />

<p class="head-2">25 Results found</p>
<!-- table -->
<div class="main-div">
  <!-- <div class="main-heading">User Information's</div> -->
  <div class="table-div" *ngIf="showTable" >
    <table>
      <tr>
        <th>ID</th>
        <th>SUBSCRIBER</th>
        <th>PHONE</th>
        <th>ADDRESS</th>
        <th>STATUS</th>
        <th>TV</th>
        <th>TYPE</th>
        <!-- <th style="text-align: center">ACTION</th> -->
      </tr>
      <tr
        *ngFor="
          let us of userData | paginate: { itemsPerPage: 5, currentPage: p }
        "
        
        (click)="viewDetails()"
      >
        <td>{{ us.id }}</td>
        <td>{{ us.subscriber }}</td>

        <td>{{ us.phone }}</td>
        <td>{{ us.address }}</td>
        <td>
          <div class="status">
            {{ us.status }}
          </div>
        </td>
        <td>{{ us.tv }}</td>
        <td>{{ us.type }}</td>
      </tr>
    </table>
    <br />
    <pagination-controls
      class="my-pagination"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
