<form [formGroup]="Reconnection" (ngSubmit)="apply()">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Apply Discount</div>
    <!-- <p class="para">{{ data.id }}</p> -->
    <div class="">
      <input
        type="text"
        class="form-control int mt-2"
        type="text"
        required
        id="amount"
        placeholder="Amount"
        formControlName="amount"
        [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
        />
        <div
          *ngIf="submitted && f['amount'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['amount'].errors['required']">Fill The Field</div>
        </div>
      <textarea
        type="text"
        class="form-control ints mt-4"
        type="number"
        required
        id="ID"
        placeholder="Description"
        formControlName="Remark"
      [ngClass]="{ 'is-invalid': submitted && f['Remark'].errors }"
      ></textarea>
        <div
          *ngIf="submitted && f['Remark'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['Remark'].errors['required']">Fill The Field</div>
        </div>
      <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1 mt-4">
        Update
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
