<form [formGroup]="Reconnection" (ngSubmit)="apply()">
  <div class=" cus-model-c-div">
    <div class="form-heading int-div card-head-h2">
      Cancel Ticket
    </div>
    <p class="para">{{data.id}}</p>
    <div class="">
      <input type="text" class="form-control ints mt-2" type="text" required id="amount" placeholder="Amount"
      formControlName="amount" />
      <textarea type="text" class="form-control int mt-2" type="number" required id="ID" placeholder="Description"
        formControlName="Remark" ></textarea>
      <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" 
       >
        Update
      </button>
      <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" 
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe">
        Cancel
      </button>

    </div>
  </div>
</form>