.main-div {
  background-color: #fff;
  height: auto;
  // margin-top: 2rem;
  border-radius: 24px;
  // margin:1rem 4rem 0rem 4rem;
}
@media only screen and(max-width:900px) {
  .main-div {
    margin: auto !important;
  }
}
.img {
  width: 100%;
  max-width: 32px;
  border-radius: 4px;
}
.main-heading {
  font-weight: 700 !important;
  font-size: 26px !important;
  padding: 2rem 0px 0px 2rem;
}
.table-div {
  padding: 1rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}
th {
  font-weight: 600;
}
td {
  font-weight: 400;
  color: #000;
}
tr:nth-child(even) {
  background-color: aliceblue;
}

// .my-pagination /deep/ .ngx-pagination{
//   .ng-star-inserted{
//     a{
//       text-decoration: none;
//     }
//   }
//   .current {
//     background: var(--main);
//      a{
//       text-decoration: none;
//     }
//   }
// }
