<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Change Request</div>
    <div class="">
      <select
        class="form-select mt-2"
        aria-label="Default select example"
        (change)="onSelectarea(val.value)"
        required
        #val
        formControlName="area"
        [ngClass]="{ 'is-invalid': submitted && f['area'].errors }"
      >
        <option disabled selected value="null">Area</option>
        <option *ngFor="let item of areaArray" [value]="item.id">
          {{ item.area }}
        </option>
      </select>
      <div *ngIf="submitted && f['area'].errors" class="invalid-feedback">
        <div *ngIf="f['area'].errors['required']">Select the area</div>
      </div>

      <select
        class="form-select mt-4"
        aria-label="Default select example"
        (change)="onSelect(val.value)"
        required
        #val
        formControlName="road"
        [ngClass]="{ 'is-invalid': submitted && f['road'].errors }"
      >
        <option disabled selected value="null">Road</option>
        <option *ngFor="let item of roadArray" [value]="item.id">
          {{ item.road }}
        </option>
      </select>
      <div *ngIf="submitted && f['road'].errors" class="invalid-feedback">
        <div *ngIf="f['road'].errors['required']">Select the road</div>
      </div>

      <input
        type="text"
        class="form-control int mt-4"
        id="ID"
        placeholder="New Address"
        formControlName="address"
        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
      />
      <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
        <div *ngIf="f['address'].errors['required']">Fill The Field</div>
      </div>

      <input
        type="text"
        class="form-control int mt-4"
        type="number"
        required
        id="ID"
        placeholder="Phone Number"
        formControlName="phoneNumber"
        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
      />
      <div
        *ngIf="submitted && f['phoneNumber'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['phoneNumber'].errors['required']">Fill The Field</div>
      </div>

      <button
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1 mt-4"
        (click)="ReconnectionRequest()"
      >
        Create
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
