.card {
  border: none;
  padding: 20px 0px 20px 20px;
}
.card-text {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.lbl {
  padding-left: 20px;
}

.cus-form-check {
  margin: 0px 60px 14px 1px;
  label {
    padding-left: 5px !important;
    padding-top: 2px;
  }
}
.invalid-feedback {
  padding: 0px 0px 0px 10px;
  font-size: 14px;
}

.cus-btn {
  background: #027afe 0% 0% no-repeat padding-box;
  background: #027afe 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 33px #00000014;
  border-radius: 36px !important;
  color: #fff;
  height: 40px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.int {
  height: 40px;
  padding-left: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #99999917 0% 0% no-repeat padding-box;
  color: #707070;
  border-radius: 36px !important;
}
.main-div {
  background-color: #fff;
  border-radius: 24px;
}

@media only screen and (max-width: 900px) {
  .main-div {
    margin: auto !important;
  }
}

.img {
  width: 100%;
  max-width: 32px;
  border-radius: 4px;
}

.main-heading {
  font-weight: 700 !important;
  font-size: 26px !important;
  padding: 2rem 0px 0px 2rem;
}

.table-div {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: 600;
}

td {
  font-weight: 400;
  color: #000;
}

tr:nth-child(even) {
  background-color: #99999917;
}

.status {
  border-radius: 24px;
  background-color: #b50a00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  min-width: 60px;
}
