<form [formGroup]="loginForm" (ngSubmit)="emitEvent()">
  <div class="d-flex flex-wrap">
    <div class="form-check cus-form-check">
      <input
        class="form-check-input"
        type="radio"
        id="ConnectionID"
        formControlName="type"
        value="Connection Id"
        name="type"
      />
      <label class="form-check-label para lbl" for="ConnectionID">
        Connection ID
      </label>
    </div>

    <div class="form-check cus-form-check">
      <input
        class="form-check-input"
        type="radio"
        id="PhoneNo"
        formControlName="type"
        value="Phone No"
        name="type"
      />
      <label class="form-check-label para lbl" for="PhoneNo"> Phone No </label>
    </div>

    <div class="form-check cus-form-check">
      <input
        class="form-check-input"
        type="radio"
        id="NIC"
        formControlName="type"
        value="NIC"
        name="type"
      />
      <label class="form-check-label para lbl" for="NIC"> NIC </label>
    </div>

    <div class="form-check cus-form-check">
      <input
        class="form-check-input"
        type="radio"
        id="OldID"
        formControlName="type"
        value="Old Id"
        name="type"
      />
      <label class="form-check-label para lbl" for="OldID"> Old ID </label>
    </div>
    <div class="form-check cus-form-check">
      <input
        class="form-check-input"
        type="radio"
        id="name"
        formControlName="type"
        value="Name"
        name="type"
      />
      <label class="form-check-label para lbl" for="name"> Name </label>
    </div>
  </div>
  <br />
  <div class="input-group mb-3">
    <div class="row w-100">
      <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8 mt-1">
        <input
          type="text"
          class="form-control me-2 int"
          placeholder="Enter the {{ loginForm.value.type }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          formControlName="searchinginput"
          [ngClass]="{ 'is-invalid': submitted && f['searchinginput'].errors }"
        />
        <div
          *ngIf="submitted && f['searchinginput'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['searchinginput'].errors['required']">
            Fill The Field
          </div>
        </div>
        <div
          *ngIf="submitted && loginForm.value.type == ''"
          class="errsmsg errpad"
        >
          Fill The Type
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-1">
        <span
          class="input-group-text cus-btn align-items-center justify-content-center"
          id="basic-addon2"
          (click)="emitEvent()"
          *ngIf="!loading"
          >Search Connection</span
        >
        <span
          class="input-group-text cus-btn align-items-center justify-content-center disabled"
          id="basic-addon2"
          (click)="emitEvent()"
          *ngIf="loading"
          style="opacity: 0.7"
          >Search Connection...</span
        >
      </div>
    </div>

    <br />
  </div>
</form>
