<div class="card mt-4">
  <div class="card-body">
    <form [formGroup]="password" (ngSubmit)="changePassword()">
      <p class="heading">Change Password</p>
      <br />
      <div class="input-group mb-3">
        <div
          class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap main-input-content"
        >
          <div class="mb-3 cus-int-div">
            <input
              type="password"
              class="form-control int"
              id="oldPassword"
              placeholder="Old Password"
              formControlName="oldPassword"
              [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }"
            />
            <div
              *ngIf="submitted && f['oldPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['oldPassword'].errors['required']">
                Fill The Field
              </div>
              <div *ngIf="f['oldPassword'].errors['minlength']">
                Password must be minimum 6 charcters
              </div>
            </div>
          </div>
          <div class="mb-3 cus-int-div">
            <input
              type="password"
              class="form-control int"
              id="newPassword"
              placeholder="New Password"
              formControlName="newPassword"
              [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"
            />
            <div
              *ngIf="submitted && f['newPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['newPassword'].errors['required']">
                Fill The Field
              </div>
              <div *ngIf="f['newPassword'].errors['minlength']">
                Password must be minimum 6 charcters
              </div>
            </div>
          </div>
          <div class="mb-3 cus-int-div">
            <input
              type="password"
              class="form-control int"
              id="confirmPassword"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && f['confirmPassword'].errors
              }"
            />
            <div
              *ngIf="submitted && f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['confirmPassword'].errors['required']">
                Fill The Field
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Confirm Password does not match
              </div>
              <div *ngIf="f['confirmPassword'].errors['minlength']">
                Password must be minimum 6 charcters
              </div>
            </div>
          </div>
          <div class="cus-int-div">
            <span
              class="input-group-text cus-btn align-items-center justify-content-center"
              id="basic-addon2"
              *ngIf="!loading"
              (click)="changePassword()"
            >
              Submit</span
            >
            <span
              class="input-group-text cus-btn align-items-center justify-content-center disabled"
              id="basic-addon2"
              *ngIf="loading"
              style="opacity: 0.7"
              (click)="changePassword()"
              >Submit...</span
            >
          </div>
        </div>
        <br />
      </div>
    </form>
  </div>
</div>
