.mat-dialog-container {
  padding: 10px;
  max-width: 500px;
}
// .form-select:focus {
//   outline: none;
//   box-shadow: none;
// }
.form-select{
  border-radius: 90px;
  border: 0px solid #99999911;
  background-color: #99999911;
  cursor: pointer;
}
// .form-select::after{
//   color: red;
// }
.invalid-feedback{
  padding: 0px 0px 0px 10px;
  font-size: 14px;
}
.int {
  padding-left: 20px;
  height: 50px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 90px;
  color: #707070;
}
.ints {
  padding-top: 16px;
  padding-left: 20px;
  height: 100px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: #707070;
}
.cus-model-btn-down {
  color: #fff !important;
  border-radius: 30px;
  max-width: 220px;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1rem 0rem 0rem 0rem;
  background-color: #027afe !important;
  height: 50px;
}
.btn-cancel {
  margin-top: 8px;
  font-size: 12px !important;
}
