<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">Create Ticket</div>
    <!-- <p class="para">{{ data.id }}</p> -->
    <div class="">
      <select
        class="form-select mt-2"
        aria-label="Default select example"
        (change)="onSelectSubject(val.value)"
        required
        #val
        formControlName="subject"
        [ngClass]="{ 'is-invalid': submitted && f['subject'].errors }"
      >
        <option disabled selected value="null">Subject</option>
        <option *ngFor="let item of subjectArray" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
        <div *ngIf="f['subject'].errors['required']">Select the subject</div>
      </div>

      <textarea
        type="text"
        class="form-control ints mt-4"
        type="number"
        required
        id="ID"
        placeholder="Description"
        formControlName="description"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
      ></textarea>
      <div
        *ngIf="submitted && f['description'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['description'].errors['required']">Fill The Field</div>
      </div>
      <input
        type="text"
        class="form-control int mt-4"
        type="number"
        required
        id="ID"
        placeholder="Phone Number"
        formControlName="phoneNumber"
        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
      />
      <div
        *ngIf="submitted && f['phoneNumber'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['phoneNumber'].errors['required']">Fill The Field</div>
      </div>

      <button
        class="input-group-text cus-btn-down cus-model-btn-down btn-c-1 mt-4"
        (click)="ReconnectionRequest()"
      >
        Create
      </button>
      <button
        class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel"
        (click)="onNoClick()"
        style="background-color: #fff !important; color: #027afe"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
