.card{
  border: none;
}
.input-div {
  width: 220px;
}

.int {
  height: 40px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
  background: #99999911 0% 0% no-repeat padding-box;
  border-radius: 36px;
  color: #707070;
  padding: 0px 0px 0px 20px;
}

.cus-btn-down {
  max-width: 220px;
  padding: 4px 16px;
  height: 40px;
  color: #fff;
  border-radius: 90px;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px;
  // margin: 0rem 0rem 0rem 1rem;
}

.btn-c-1 {
  background: #027afe !important;
}
.container-6 {
  display: flex;
  flex-direction: column;
  // max-height: 500px;
  // min-width: 300px;
}

.mat-table {
  background-color: #fff;
  box-shadow: none;
  overflow: auto;
  max-height: 500px;
  width: 100%;
}
.mat-header-cell {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border: 0px;
}
.mat-cell {
  text-align: left;
  font: normal normal normal 12px/22px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding: 0px 108px 0px 0;
  cursor: pointer;
}
.mat-cell {
  border: 0px;
}
.mat-header-row {
  border: 0px;
}
.mat-cell:last-of-type,
.mat-header-cell:last-of-type,
.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 90px; 
  border-bottom-left-radius: 90px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 90px; 
  border-top-right-radius: 90px; 
}
.mat-row:nth-child(odd) {
  background: #f8f8f8;
}
::ng-deep .mat-sort-header-arrow {
  color: #027afe;
  transform: none !important;
  opacity: 1 !important;
}
.status {
  border-radius: 24px;
  background-color: #B50A00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  min-width: 60px;
  // margin: 0 auto;
}

.status-btn {
  width: 95px;
  border-radius: 24px;
  color: #fff;
  text-align: center;
  font-size: 12px !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.password-c {
  background-color: #B50A00;
}
.update-c {
  background-color: #31AB25;
}
// .DEACTIVE{
//   color: #B50A00 !important;
// }
// .ACTIVE{
//   color: #31AB25 !important;
// }

.main-div {
  background-color: #fff;
  // margin-top: 2rem;
  border-radius: 24px;
  // margin:1rem 4rem 0rem 4rem;
}

@media only screen and (max-width:900px) {
  .main-div {
    margin: auto !important;
  }
}

.img {
  width: 100%;
  max-width: 32px;
  border-radius: 4px;
}

.main-heading {
  font-weight: 700 !important;
  font-size: 26px !important;
  padding: 2rem 0px 0px 2rem;
}