<div
  class="d-flex justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto"
>
  <!-- class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap m-auto" -->

  <div class="input-div">
    <input
      type="text"
      (keyup)="applyFilter($event)"
      class="form-control int mt-2"
      id="ID"
      placeholder="Search"
      formControlName="address"
    />
  </div>
  <div class="input-div">
    <button
      class="input-group-text cus-btn-down btn-c-1 mt-2"
      id="basic-addon2"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="postData()"
    >
      Add New user
    </button>
  </div>
</div>
<br />
<br />
<div *ngIf="TICKET_DATA.length != 0">
  <div *ngIf="showTable">
    <div id="htmlData">
      <table
        mat-table
        [dataSource]="dataSource"
        id="ExampleNormalTable"
        matSort
        (matSortChange)="announceSortChange($event)"
        class=""
      >
        <td mat-cell *matCellDef="let row"></td>
        <!-- userID Column -->
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by id"
          >
            #
          </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetails(element)">{{ element.id }}</td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="areaCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by areaCode"
          >
            Code
          </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetails(element)">{{ element.areaCode }}</td>
        </ng-container>

        <!-- roleID Column -->
        <ng-container matColumnDef="area">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by area"
          >
            Area
          </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetails(element)">{{ element.area }}</td>
        </ng-container>

        <!-- branchID Column -->
        <ng-container matColumnDef="branchID">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by branchID"
          >
            BRANCH
          </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetails(element)">{{ element.branchID }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="rental">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by rental"
          >
            Rental
          </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetails(element)">{{ element.rental }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <div class="editData"></div>
</div>

<p class="head-2 p-5" *ngIf="TICKET_DATA.length == 0 && ifGetData">
  No Data found
</p>
