<div class="card-main">
  <app-card-template
    title="Registerd Users"
    number="{{ cardAllData.users }}"
  ></app-card-template>
  <app-card-template
    title="Comments"
    number="{{ cardAllData.comments }}"
  ></app-card-template>
  <app-card-template
    title="Reply Comments"
    number="{{ cardAllData.replyComments }}"
  ></app-card-template>
</div>
<br />
<br />
<!-- <div class="table-div">
  <div class="table-heading">User Registrations</div>

  <div class="chartjs-container" style="width: 100%"></div>
</div> -->
<div class="canva-chart">
  <div class="canava-heading">User Registrations</div>
  <canvas id="chart" baseChart> </canvas>
</div>
