<form [formGroup]="chackRequest">
  <div class="cus-model-c-div">
    <div class="form-heading int-div card-head-h2">{{ ifData ? "Edit Area" : "Add Area" }}</div>
    <p class="para">{{ ifData ? currentData.userID : "" }}</p>
    <div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-3">
          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onSelectarea(val.value)"
            required
            #val
            id="parentesco"
            formControlName="branch"
            [ngClass]="{ 'is-invalid': submitted && f['branch'].errors }"
            >
           
            <option disabled selected value="null">Branch</option>
            <option *ngFor="let item of branchArray" [value]="item.id">
              {{ item.branchName }}
            </option>
          </select>
          <div
          *ngIf="submitted && f['branch'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['branch'].errors['required']">Select the branch</div>
        </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-2">
          <div class="para mt-3 ps-3">Area</div>
          <input
            type="text"
            class="form-control int"
            id="area"
            placeholder="Area"
            formControlName="area"
            [ngClass]="{ 'is-invalid': submitted && f['area'].errors }"
            />
            <div
              *ngIf="submitted && f['area'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['area'].errors['required']">Fill The Field</div>
            </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-3">
          <div class="para ps-3">Area Code</div>
          <input
            type="text"
            class="form-control int"
            id="rental"
            placeholder="(must be in 3 letters)"
            formControlName="areaCode"
            [ngClass]="{ 'is-invalid': submitted && f['areaCode'].errors }"
            />
            <div
              *ngIf="submitted && f['areaCode'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['areaCode'].errors['required']">Fill The Field</div>
            </div>
        </div>
      </div>
      
      <div class="row mt-2">
        <div class="col-12 col-sm-12 mt-3">
          <div class="para ps-3">Rental</div>
          <input
            type="text"
            class="form-control int"
            id="rental"
            placeholder="Rental"
            formControlName="rental"
            [ngClass]="{ 'is-invalid': submitted && f['rental'].errors }"
            />
            <div
              *ngIf="submitted && f['rental'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['rental'].errors['required']">Fill The Field</div>
            </div>
        </div>
      </div>

      

      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <button
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="onNoClick()"
            style="
              background-color: #fff !important;
              color: #027afe !important;
              border: none !important;
            "
          >
            Cancel
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <button
            *ngIf="!loading"
            class="input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Submit
          </button>
          <button
            *ngIf="loading"
            class="opacity-75 disabled input-group-text cus-btn-down cus-model-btn-down btn-c-1"
            (click)="ReconnectionRequest()"
          >
            Loading ...
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="row">
            <div class="col-6">
                <div>
                    <select class="form-select" aria-label="Default select example" (change)='onSelect(val.value)' required
                        #val>
                        <option disabled selected value="null">Technician</option>
                        <option *ngFor="let item of TechnicianArray" [value]="item.area">
                            {{ item.firstName }}
                        </option>
                    </select>
                    <div class="para mt-3 ps-3">Disconnected Date </div>
                    <input type="date" class="form-control int" id="ID" placeholder="12-12-2022" formControlName="disconnectedDate" />
        
                    <div class="para mt-3 ps-3">Reconnection Fee </div>
        
                    <input type="text" class="form-control int" type="number" required id="ID" placeholder="Amount"
                        formControlName="reconnectionFee" />
                    <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()">
                        Create
                    </button>
                    <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" (click)="onNoClick()"
                        style="background-color: #fff !important; color: #027afe">
                        Cancel
                    </button>
        
                </div>
            </div>
            <div class="col-6">
                <div>
                    <select class="form-select" aria-label="Default select example" (change)='onSelect(val.value)' required
                        #val>
                        <option disabled selected value="null">Technician</option>
                        <option *ngFor="let item of TechnicianArray" [value]="item.area">
                            {{ item.firstName }}
                        </option>
                    </select>
                    <div class="para mt-3 ps-3">Disconnected Date </div>
                    <input type="date" class="form-control int" id="ID" placeholder="12-12-2022" formControlName="disconnectedDate" />
        
                    <div class="para mt-3 ps-3">Reconnection Fee </div>
        
                    <input type="text" class="form-control int" type="number" required id="ID" placeholder="Amount"
                        formControlName="reconnectionFee" />
                    <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()">
                        Create
                    </button>
                    <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" (click)="onNoClick()"
                        style="background-color: #fff !important; color: #027afe">
                        Cancel
                    </button>
        
                </div>
            </div>
        </div> -->
  </div>
</form>
