<div class="containr-1">
  <!-- {{object|json}} -->
  <!-- <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src='https://maps.google.com/maps?q=9.6778336,80.0034365&hl=es;z=14&amp;output=embed'></iframe> -->
  <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false"/> -->
  <!-- <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe> -->
  <div class="row">
    <!-- <p class="form-label labels">{{object.connectionID}}</p> -->
    <div class="col-md-4">
      <div class="mapouter">
        <div class="gmap_canvas">
          <!-- "9.6778336,80.0034365" -->
          <iframe
            class="gmap_iframe"
            width="100%"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?q=9.6778336,80.0034365&hl=es;z=14&amp;output=embed"
          ></iframe>
          <a href="https://www.gachacute.com/">Gacha Cute</a>
        </div>
        <!-- {{urlSafe}} -->
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 220px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 220px;
          }

          .gmap_iframe {
            height: 220px !important;
          }
        </style>
      </div>
    </div>
    <div class="col-md-8">
      <form [formGroup]="inputset">
        <div
          class="d-flex card-div justify-content-center justify-content-lg-between justify-content-sm-center flex-wrap main-input-content"
        >
          <div class="mb-3 cus-int-div">
            <label for="NIC" class="form-label labels">NIC </label>
            <input
              type="text"
              class="form-control int"
              id="NIC"
              placeholder="9999999999V"
              readonly
              value="{{ object.subscriberNIC }}"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="SUBSCRIBER" class="form-label labels">SUBSCRIBER</label>
            <input
              type="text"
              class="form-control int"
              id="SUBSCRIBER"
              readonly
              placeholder="SUBSCRIBER"
              value="{{ object.firstName }}"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="PHONE" class="form-label labels">PHONE</label>
            <input
              type="text"
              class="form-control int"
              id="PHONE"
              readonly
              placeholder="PHONE"
              value="{{ object.primaryPhone }}"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="Address" class="form-label labels">Address</label>
            <input
              type="text"
              class="form-control int"
              id="Address"
              readonly
              placeholder="Address"
              value="{{ object.connectionAddress }}"
            />
          </div>

          <!-- 2 -->
          <div class="mb-3 cus-int-div">
            <label for="ID" class="form-label labels">ID</label>
            <input
              type="text"
              class="form-control int"
              id="ID"
              readonly
              placeholder="9999999999V"
              value="{{ object.connectionID }}"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="Status" class="form-label labels">Status</label>
            <input
              type="text"
              id="Status"
              class="form-control int"
              [ngStyle]="{
                color:
                  object.connectionStatus == 'Active' ? '#31AB25' : '#B50A00'
              }"
              value="{{ object.connectionStatus }}"
              readonly
              placeholder="Status"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="TV" class="form-label labels">TV</label>
            <input
              type="text"
              class="form-control int"
              id="TV"
              readonly
              placeholder="TV"
              value="{{ object.tvCount }}"
            />
          </div>
          <div class="mb-3 cus-int-div">
            <label for="Type" class="form-label labels">Type</label>
            <input
              type="text"
              class="form-control int"
              id="Type"
              readonly
              placeholder="Type"
              value="{{ object.connectionType }}"
            />
          </div>

          <!-- 3 -->
          <div class="mb-3 cus-int-div">
            <label for="DUE" class="form-label labels">DUE</label>
            <input
              type="text"
              class="form-control int"
              id="DUE"
              readonly
              placeholder="00.00"
              value="{{ object.dueAmount }}"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
