<div class="card">
  <p class="card-text">Search with ID</p>
  <br />
  <div class="card-body-1">
    <app-payment-filter (OnClick)="searching($event)"></app-payment-filter>
  </div>
</div>
<!-- {{userData | json}} -->
<div *ngIf="showTable">
  <div class="card mt-4">
    <div class="card-body">
      <!-- <app-show-payment [object]="userData2" [text]="text"></app-show-payment> -->
      <div *ngIf="userData.length != 0">
        <div *ngIf="showTable" class="table-responsive">
          <div id="htmlData">
            <table
              mat-table
              [dataSource]="dataSource"
              id="ExampleNormalTable"
              matSort
              (matSortChange)="announceSortChange($event)"
              class=""
            >
              <!-- connectionID Column -->
              <ng-container matColumnDef="connectionID">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by connectionID"
                >
                  ID
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                >
                  <a style="color: #027afe; cursor: pointer">{{
                    element.invoiceID
                  }}</a>
                </td>
              </ng-container>

              <!-- firstName Column -->
              <ng-container matColumnDef="paymentType">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by paymentType"
                >
                  Type
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.paymentType? element.paymentType : "--" }}
                </td>
              </ng-container>

              <!-- primaryPhone Column -->
              <ng-container matColumnDef="description">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionprimaryPhone="Sort by description"
                >
                  Description
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description }}
                </td>
              </ng-container>

              <!-- connectionAddress Column -->
              <ng-container matColumnDef="amount">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by amount"
                >
                  Amount
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.amount }}
                </td>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                >
                  Edit
                </th>
                <td mat-cell *matCellDef="let element">
                    <div
                      class="status-btn update-c"
                      (click)="viewDetails(element)"
                    >
                      UPDATE
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
            </table>
          </div>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>

      <p class="head-2 p-5" *ngIf="userData.length == 0 && ifGetData">
        No Data found
      </p>
    </div>
  </div>
</div>
