<form [formGroup]="chackRequest" (ngSubmit)="ReconnectionRequest()">
    <div class=" cus-model-c-div">
      <div class="form-heading int-div card-head-h2">
        Reconnection Request
      </div>
      <p class="para">PKA00001</p>
      <div class="">

            <select class="form-select" aria-label="Default select example">
              <option selected>Area</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <select class="form-select mt-2" aria-label="Default select example ">
              <option selected>Road</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>

            <input type="text" class="form-control int mt-2" id="ID" placeholder="New Address"
              formControlName="address" />
           
        <input type="text" class="form-control int mt-2" type="number" required id="ID" placeholder="Phone Number"
          formControlName="phoneNumber" />


        <button class="input-group-text cus-btn-down cus-model-btn-down btn-c-1" (click)="ReconnectionRequest()"
         >
          Create
        </button>
        <button class="input-group-text cus-model-cancel-btn-down btn-c-1 btn-cancel" 
          (click)="onNoClick()"
          style="background-color: #fff !important; color: #027afe">
          Cancel
        </button>
  
      </div>
    </div>
  </form>